#----------------------------------------------------------------------------
# Ignore these files when commiting to a git repository
#
# The original version of this file is found here:
# https://github.com/RailsApps/rails3-application-templates/raw/master/files/gitignore.txt
#
# Corrections? Improvements? Create a GitHub issue:
# http://github.com/RailsApps/rails3-application-templates/issues
#----------------------------------------------------------------------------

# bundler state
/.bundle
/vendor/bundle/

# minimal Rails specific artifacts
db/*.sqlite3
/log/*
tmp/*

# various artifacts
**.war
*.rbc
*.sassc
.redcar/
.sass-cache
/config/config.yml
/config/database.yml
/coverage.data
/coverage/
/db/*.javadb/
/db/*.sqlite3-journal
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html
/public/cache
/public/stylesheets/compiled
/public/system
/spec/tmp/*
/cache
/capybara*
/capybara-*.html
/gems
/rerun.txt
/specifications
/public/ckeditor_assets

# scm revert files
**.orig

# Mac finder artifacts
.DS_Store

# Netbeans project directory
/nbproject/

# Textmate project files
/*.tmpproj

# vim artifacts
**.swp
=======
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
/"C:\\nppdf32Log\\debuglog.txt"
/.fr-TEGw5t/1144953-1-2x.jpg
/.fr-TEGw5t/1144953-2-2x.jpg
/.fr-TEGw5t/1144953-3-2x.jpg
/.fr-TEGw5t/1144953-4-2x.jpg
/.fr-TEGw5t/1144953-5-2x.jpg
/.fr-TEGw5t/1144953-6-2x.jpg
/.fr-TEGw5t/1144953-p-2x.jpg
/.fr-TEGw5t/arrow-next.png
/.fr-TEGw5t/arrow-prev.png
/.fr-TEGw5t/background.png
/.fr-TEGw5t/example-frame.png
/.fr-TEGw5t/global.css
/.fr-TEGw5t/index.html
/.fr-TEGw5t/loading.gif
/.fr-TEGw5t/new-ribbon.png
/.fr-TEGw5t/pagination.png
/.fr-TEGw5t/slide-1.jpg
/.fr-TEGw5t/slide-2.jpg
/.fr-TEGw5t/slide-3.jpg
/.fr-TEGw5t/slide-4.jpg
/.fr-TEGw5t/slide-5.jpg
/.fr-TEGw5t/slide-6.jpg
/.fr-TEGw5t/slide-7.jpg
/.fr-TEGw5t/slide.jpg
/.fr-TEGw5t/slides.min.jquery.js
/"C:\\nppdf32Log\\debuglog.txt"
/config/database.yml
/config/database.yml~
