.user_details
  .content
    .top
      - if @user.provider
        %img{ src: @user.facebook_profile_picture }
      - else
        %img{ src: @user.gravatar_url }

      %h2= @user.name
      .infos
        .left
          %span= t('strings.user_show.username', username: @user.username)
          %span= t('strings.user_show.member_since', month: t('date.month_names')[@user.created_at.month], year: @user.created_at.year)
    
    .bottom
      .item
        .deals
      .item
        .wishes
      .item
        .power
      .item
        .money

