.left
  = link_to(Rails.cache.fetch([:user, :normal_picture, user.id], expires_in: 4.hours) { image_tag(user.medium_picture, :alt => user.username, :title => user.username) }, user_path(user.username), :class => "user_picture")
.left
  %h3
    = link_to truncate_name(user.name, 19), user_path(user.username)
  %span
    = user.deals.count
    ofertas compartilhadas!
  .action_btn
    = link_to t('buttons.user_profile'), user_path(user.username), :class => 'btn_view_profile'