= cache 'new_header_home', expires_in: 1.year do
  #home_header
    .content
      #slides.left
        .slides_container
          %div
            %img{ :src => asset_path('foto_1.jpg') }
          %div
            %a{ :href => "javascript:;", :onclick => "Popup.open_url('#{powers_popup_url}')"}
              %img{ :src => asset_path('foto_5.jpg') }
          %div
            %a{ :href => "javascript:;", :onclick => "Popup.open_url('#{show_video_url}')"}
              %img{ :src => asset_path('foto_4.jpg') }
          %div
            %a{ href: how_it_works_path }
              %img{ src: asset_path('foto_2.jpg') }
  .clear