#col-left
  .ttGlHome
    %h2= t('strings.active_offers')
  .list-conteudo
    - @deals.each_with_index do |deal, index|
      = render :partial => 'deals/deal', :locals => {:deal => deal, :index => index, :old => false}
    .pagination
      = will_paginate @deals

#col-right
  = render 'deals/side'