#sem-col
  .ttGlHome
    %h2= t('strings.who_are_we')

  .list-conteudo.como-funciona
    
    %h3 Quem Somos?
    %p Claudio Ginglass - @claudioginglass
    %p Engenheiro de Produção por formação, lidera a área de marketing do Ofertus, além de exercer papel importante na gestão do negócio. Ex-jogador profissional de pelada de fim de semana, foi aposentado pelo famoso problema de “junta”, que atinge todo craque. Adora o Rio de Janeiro e não perde uma oportunidade de tirar fotos para seu Instagram.

    %p João Paulo Lethier - @jplethier
    %p Formado em Ciência da Computação, é responsável por gerenciar o desenvolvimento da plataforma e considerado o grande hacker do Ofertus. Sempre turbinado por sua máquina, consegue fazer coisas mirabolantes com os códigos. Com seus 3m de altura, tentou o basquete antes de programar, mas tomou a decisão certa ao escolher trabalhar com aquilo que faz bem. Costuma passar suas poucas horas de lazer com sua namorada, senão ela acaba pegando no pé.

    %h3 Nossa História
    %p O Ofertus nasceu entre amigos. Sua história começou há alguns anos atrás, quando Claudio e João se conheceram em um curso de empreendedorismo. O Claudio sempre foi uma daquelas pessoas sobre quem todos diziam que um dia teria o seu próprio negócio. Da mesma forma, o João já vislumbrava um futuro no qual a tecnologia criaria grandes vantagens para novos empreendedores.
    %p O gosto pela criação e o interesse pela área técnológica naturalmente os colocou no mesmo caminho. Não demorou muito para enxergarem que poderiam ser bons parceiros, e juntos começaram a se destacar em competições e torneios de empreendedorismo. Foi então que, ao estudarem o mercado de ofertas no Brasil, identificaram uma tremenda oportunidade. 
    
    %h3 Nossa Visão
    %p O Ofertus pretende revolucionar a maneira como as pessoas têm acesso a boas ofertas. E isso se dará a partir de você. Afinal, com o mundo cada vez mais integrado por ferramentas sociais, nada melhor que utilizar a massa para direcionar o engajamento. Os próprios usuários são responsáveis pelo conteúdo da plataforma, assim como por sua avaliação e controle. 
    %p Através de uma interface limpa e atraente, o Ofertus chega para conquistar seu espaço. Use e abuse de nossos serviços para o seu bem e de toda a comunidade. Você só tem a ganhar!

    %h3 Afinal, quem não gosta de um bom desconto?
    %p Equipe OfertUs.
    %br
    %a{ :href => "mailto:contato@ofertus.com.br", :title => "contato@ofertus.com.br" } contato@ofertus.com.br

  .clear
.clear