= cache 'partners_list', expires_in: 1.day do
  .partners_list
    %h4= t('strings.partners')
    = link_to t('strings.all'), partners_path, target: '_blank'

    %ul
      %li
        %a{ href: "http://el2.me/jERr", target: "_blank" }
          %img{ src: '/assets/partners/americanas_small.png', alt: 'Americanas', title: 'Americanas' }
          .percent 1,5%
          / .percent 3%
      %li
        %a{ href: "http://el2.me/wLJW", target: "_blank" }
          %img{ src: '/assets/partners/amomuito_small.png', alt: 'AmoMuito', title: 'AmoMuito' }
          .percent 3,5%
          / .percent 7%
      %li
        %a{ href: "http://el2.me/uKfM", target: "_blank" }
          %img{ src: '/assets/partners/anahickmann_small.png', alt: 'Ana Hickmann', title: 'Ana Hickmann' }
          .percent 5%
          / .percent 10%
      %li
        %a{ href: "http://el2.me/uKr6", target: "_blank" }
          %img{ src: '/assets/partners/brinquedoslaura_small.png', alt: 'Brinquedos Laura', title: 'Brinquedos Laura' }
          .percent 3,5%
          / .percent 7%
      %li
        %a{ href: "http://el2.me/wFbR", target: "_blank" }
          %img{ src: '/assets/partners/bytennis_small.png', alt: 'ByTennis', title: 'ByTennis' }
          .percent 3%
          / .percent 6%
      %li
        %a{ href: "http://el2.me/wPpm", target: "_blank" }
          %img{ src: '/assets/partners/casasbahia_small.png', alt: 'Casas Bahia', title: 'Casas Bahia' }
          .percent 1,5%
          / .percent 3%
      %li
        %a{ href: "http://www.comprafacil.com.br/afiliadoscf", target: "_blank" }
          %img{ src: '/assets/partners/comprafacil_small.png', alt: 'Compra Fácil', title: 'Compra Fácil' }
          .percent 1,5%
          / .percent 3%
      %li
        %a{ href: "http://el2.me/jG1I", target: "_blank" }
          %img{ src: '/assets/partners/dafiti_small.png', alt: 'Dafiti', title: 'Dafiti' }
          .percent 5%
          / .percent 8%
      %li
        %a{ href: "http://el2.me/wFcb", target: "_blank" }
          %img{ src: '/assets/partners/extra_small.png', alt: 'Extra', title: 'Extra' }
          .percent 1,5%
          / .percent 3%
      %li
        %a{ href: "http://el2.me/jG4t", target: "_blank" }
          %img{ src: '/assets/partners/fnac_small.png', alt: 'FNAC', title: 'FNAC' }
          .percent 2,5%
          / .percent 5%
      %li
        %a{ href: "http://el2.me/yhgH", target: "_blank" }
          %img{ src: '/assets/partners/gimba_small.png', alt: 'Gimba', title: 'Gimba' }
          .percent 2%
          / .percent 4%
      %li
        %a{ href: "http://el2.me/jG5i", target: "_blank" }
          %img{ src: '/assets/partners/girafa_small.png', alt: 'Girafa', title: 'Girafa' }
          .percent 2,5%
          / .percent 5%
      %li
        %a{ href: "http://el2.me/jG67", target: "_blank" }
          %img{ src: '/assets/partners/giulianaflores_small.png', alt: 'Giuliana Flores', title: 'Giuliana Flores' }
          .percent 5%
          / .percent 10%
      %li
        %a{ href: "http://el2.me/vn7z", target: "_blank" }
          %img{ src: '/assets/partners/kanui_small.png', alt: 'Kanui', title: 'Kanui' }
          .percent 5%
          / .percent 10%
      %li
        %a{ href: "http://el2.me/jG7z", target: "_blank" }
          %img{ src: '/assets/partners/saraiva_small.png', alt: 'Saraiva', title: 'Saraiva' }
          .percent 1,5%
          / .percent 3%
      %li
        %a{ href: "http://el2.me/k7FV", target: "_blank" }
          %img{ src: '/assets/partners/lojasmm_small.png', alt: 'Lojas MM', title: 'Lojas MM' }
          .percent 1,5%
          / .percent 4,5%
      %li
        %a{ href: "http://el2.me/yhhY", target: "_blank" }
          %img{ src: '/assets/partners/marisa_small.png', alt: 'Marisa', title: 'Marisa' }
          .percent 3%
          / .percent 6%
      %li
        %a{ href: "http://el2.me/m6eB", target: "_blank" }
          %img{ src: '/assets/partners/mobly_small.png', alt: 'Mobly', title: 'Mobly' }
          .percent 4%
          / .percent 8%
      %li
        %a{ href: "http://el2.me/jG8h", target: "_blank" }
          %img{ src: '/assets/partners/polishop_small.png', alt: 'Polishop', title: 'Polishop' }
          .percent 2,5%
          / .percent 5%
      %li
        %a{ href: "http://el2.me/yhec", target: "_blank" }
          %img{ src: '/assets/partners/pontofrio_small.png', alt: 'Ponto Frio', title: 'Ponto Frio' }
          .percent 1,5%
          / .percent 3%
      %li
        %a{ href: "http://el2.me/wGja", target: "_blank" }
          %img{ src: '/assets/partners/submarino_small.png', alt: 'Submarino', title: 'Submarino' }
          .percent 1,5%
        / .percent 3%
      %li
        %a{ href: "http://el2.me/kN6Q", target: "_blank" }
          %img{ src: '/assets/partners/toymania_small.png', alt: 'Toy Mania', title: 'Toy Mania' }
          .percent 2%
          / .percent 4%
      %li
        %a{ href: "http://el2.me/yhfB", target: "_blank" }
          %img{ src: '/assets/partners/viajarbarato_small.png', alt: 'Viajar Barato', title: 'Viajar Barato' }
          .percent 3%
          / .percent 6%
      %li
        %a{ href: "http://el2.me/vn8E", target: "_blank" }
          %img{ src: '/assets/partners/walmart_small.png', alt: 'Walmart', title: 'Walmart' }
          .percent 1,5%
          / .percent 2,5%