%h3
  = link_to truncate_side_title(deal.title), deal_path(deal), :title => deal.title
.left
  %h4= t('strings.original_price', :price => number_to_currency(deal.real_price)).html_safe
  .preco-off
    %h4= t('strings.offer_price', :price => number_to_currency(deal.price)).html_safe

.right
  - if deal.image_url && !deal.image_url.empty?
    = link_to(image_tag(deal.image_url, :alt => deal.image_url, :title => deal.title), deal_path(deal), :class => "deal_picture_small")  
  - else  
    / = link_to(image_tag(asset_path('no_picture_big.jpg'), :alt => "Oferta sem imagem", :title => deal.title), deal_path(deal), :class => "deal_picture_small")
.clear
/     %ul
/       %li.average
/         - if deal.average  
/           - if deal.average >= 50  
/             %strong.positive
/               = deal.average
/           - else  
/             %strong.negative
/               = deal.average