#sem-col
  .ttGlHome
    %h2= t('strings.search_results')

  .list-conteudo#home_list
    - @deals.each_with_index do |deal, index|
      = render :partial => 'deals/top_deal', :locals => {:deal => deal, :index => index, :old => false}
    / - if @deals.total_pages == 1 || params[:page].to_i == @deals.total_pages
    /   .old_deals
    /     .ttGlHome
    /       %h2= t('strings.old_deals')
    /     - @old_deals.each_with_index do |old_deal, index|
    /       = render :partial => 'deals/deal', :locals => {:deal => old_deal, :index => index, :old => true}
    .clear
    .paginate
      = will_paginate @deals