body {

  #header_background {
    margin-top: 0;
    height: 10px;
    position: relative;
    background: image-url('flag_divisor.png') no-repeat transparent;
}

  #deals_background {
    width: 100%;
    background: white;
  }

  .offer_details {
    display: block;
    width: 960px;
    margin: 0 auto;
    padding: 30px 0;
    height: 290px;
    position: relative;

    h3 {
      float: left;
      max-width: 660px;

      a {
        text-decoration: none;
        font-family: 'Gotham Book';
        color: #1e1e1e;
        font-size: 16pt;
      }
    }

    .counts {
      float: left;

      span {
        float: left;
        line-height: 18px;
        padding-left: 22px;
        margin: 0 5px;
      }

      span.likes {
        background: image-url('love_count_icon.png') no-repeat;
      }

      span.reports {
        background: image-url('report_count_icon.png') no-repeat;
        padding-left: 15px;
      }
    }

    a.report, a.unreport {
      display: block;
      text-indent: -15000px;
      width: 19px;
      height: 19px;
      position: absolute;
      left: 740px;
      top: 29px;
    }

    a.report {
      background: image-url('report_button.png') no-repeat;
    }

    a.unreport {
      background: image-url('report_button.png') no-repeat;
    }

    .deal_image {
      width: 250px;
      height: 250px;
      float: left;

      img {
        max-width: 250px;
        max-height: 250px;
      }
    }

    .deals_info_center {
      float: left;
      width: 364px;
      height: 230px;
      background: image-url('deals_background.png') no-repeat 0 0;
      margin: 15px;
      padding: 5px 5px 5px 75px;

      .preco-off {
        width: 78px;
        padding: 31px 0 16px;
        text-align: center;
        background: image-url('green_discount.png') no-repeat;
        min-height: 32px;
        margin: 2px 12px;
        float: left;

        h4 {
          color: #fff;
          margin-bottom: 0;
          font-size: 18pt;
          font-family: 'Gotham Medium';
        }
      }

      .prices {
        float: left;
        line-height: 19pt;
        margin-top: 15px;

        .from {
          font-size: 10pt;
          text-decoration: line-through;

          span {
            font-size: 12pt;
          }
        }

        .by {
          font-size: 14pt;
          color: #cc3333;
          font-family: 'Gotham Medium';

          span {
            font-size: 16pt;
          }
        }
      }

      .end_date {
        background: image-url('calendar_background.png') no-repeat;
        width: 75px;
        height: 89px;
        margin-right: 5px;
        margin-top: 5px;
        float: right;
        position: relative;

        .year, .label, .day {
          position: absolute;
        }

        .year {
          top: 3px;
          left: 19px;
          color: white;
          font-size: 12pt;
        }

        .label, .day {
          color: black;
        }

        .label {
          top: 40px;
          left: 5px;
          font-size: 9pt;
        }

        .day {
          left: 6px;
          bottom: 10px;
          font-size: 14pt;
        }
      }

      .category {
        float: left;
        margin-left: 10px;
        clear: left;

        .label, .name {
          font-size: 9pt;
          color: #1e1e1e;
          text-transform: uppercase;
          float: left;
          line-height: 28px;
        }

        .icon {
          float: left;
          background: image-url('icon-cat-small.png') no-repeat;
          margin: 0 5px;
          width: 26px;
          height: 26px;
        }
      }

      .category_computer {
        .icon {
          background-position: 0 0;
        }

        .name {
          color: #3366cc;
        }
      }

      .category_travel {
        .icon {
          background-position: -33px 0;
        }

        .name {
          color: #ff6633;
        }
      }

      .category_culture {
        .icon {
          background-position: -66px 0;
        }

        .name {
          color: #339999;
        }
      }

      .category_restaurant {
        .icon {
          background-position: -100px 0;
        }

        .name {
          color: #663399;
        }
      }

      .category_home_and_decoration {
        .icon {
          background-position: -132px 0;
        }

        .name {
          color: #ff9933;
        }
      }

      .category_home_and_appliance {
        .icon {
          background-position: -166px 0;
        }

        .name {
          color: #663333;
        }
      }

      .category_entertainment {
        .icon {
          background-position: -199px 0;
        }

        .name {
          color: #00cccc;
        }
      }

      .category_car {
        .icon {
          background-position: -232px 0;
        }

        .name {
          color: #339900;
        }
      }

      .category_beauty_and_health {
        .icon {
          background-position: -266px 0;
        }

        .name {
          color: #cc66cc;
        }
      }

      .category_clothes {
        .icon {
          background-position: -299px 0;
        }

        .name {
          color: #cc6666;
        }
      }

      .category_others {
        .icon {
          background-position: -331px 0;
        }

        .name {
          color: #333;
        }
      }
    }

    .detalhe-oferta {

      .left.tx-off {
        width: 620px;

        #go_to_site {
          width: 210px;
          margin-right: 70px;

          a#big_button {
            background: image-url('big_go_to_site.png') no-repeat;
            display: block;
            width: 197px;
            height: 49px;
          }
        }

        ul {
          float: left;

          li {
            line-height: 20px;
          }
        }

        .share-off {
          a {
            float: left;
            text-indent: -15000px;
            width: 37px;
            height: 37px;
            margin: 0 5px;
          }

          a.like {
            background: image-url('like_button.png') no-repeat;
          }

          a.dislike {
            background: image-url('like_button_pressed.png') no-repeat -2px -4px;
          }
        }
      }
    }
  }

  .who_likes {
    margin: 30px 0;
  }

  #sem-col {
    .list-conteudo {
      .pagination {
        p {
          font-family: 'Gotham Book';
          font-size: 20px;
        }

        .pagination {
          width: 380px;
          margin: 0 auto;

          p {
            font-family: 'Gotham Book';
            font-size: 20px;
          }
        }
      }
    }

    #search_form_2 {
      float: right;
      padding: 0;

      .border-input-busca {
        border: 3px solid #F6F6F6;
        overflow: hidden;

        .input-tx {
          background: #F6F6F6;
          text-transform: uppercase;
          font-size: 11px;
          color: #666;
          border: none;
          float: left;
          padding: 11px 5px 10px;
          width: 291px;
          border-radius: 0;
          margin: 0;
          font-size: 9pt;
        }

        .submit {
          width: 33px;
          height: 33px;
          float: right;
          border: none;
          background: url(bts-input.gif) no-repeat;
        }
      }
    }

    .search_filters {
      clear: both;
      width: 100%;
      min-height: 30px;
      margin-top: 15px;

      ul.quick_filters {
        width: 100%;
        height: 2.5em;

        li {
          float: left;
          border-left: 1px solid #666;
          color: #666;
          text-align: center;
          padding: 0 10px;

          a {
            color: #666;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 10pt;
          }

          a:hover {
            text-decoration: underline;
          }
        }

        li:first-child {
          border-left: none;
        }
      }

      .advanced_filters {
        height: 100px;

        .price_filter, .city_filter, .order_filter {
          float: left;
          margin-left: 15px;

          label {
            font-size: 1.2em;
          }
        }

        .price_filter {
          width: 35%;
          margin-left: 0;

          label, input {
            float: left;
            font-size: 11pt;
          }

          input {
            width: 170px;
            margin-bottom: 1px;
            border: none;
            background: transparent;
          }

          #price_slider {
            margin-left: 2px;
            width: 93%;
            background: #8c8c8c;
            border-radius: 5px;
            height: 11px;

            .ui-slider-range.ui-widget-header {
              background: #2C96D4;
            }

            a.ui-slider-handle.ui-state-default.ui-corner-all {
              border-radius: 8px;
              background: white;
              border: none;
              width: 18px;
              height: 18px;
              top: -5px;
            }

            a.ui-state-hover {
              background: #ececec !important;
            }
          }
        }

        .city_filter, .order_filter {
          width: 20%;

          select {
            width: 90%;
            font-size: 10pt;
          }

          label {
            font-size: 11pt;
          }
        }

        .submit {
          background: image-url('advanced_search_btn.png') no-repeat 0 0;
          padding: 0;
          height: 28px;
          width: 75px;
          margin-top: 2em;
          border: none;
        }
      }
    }
  }

  .como-funciona {
    float:none;
    border: 0;
    padding: 0;
    position: relative;
    min-height: 250px;
    overflow: visible;
  }

  .desc-off {
    float: left;
    width: 730px;
    background: #f6f6f6;
    min-height:400px;
    margin-bottom: 3em;

    .tx-desc {
      p {
        color: #1e1e1e;
        font-size: 14px;
        margin-bottom: 15px;
        line-height:22px;
      }

      div {
        width: 100% !important;
      }
    }
  }

  #description_and_comments {
    position: relative;

    .dc_header {
      text-align: center;
      cursor: s-resize;
      margin-bottom: 2em;
    }

    .dc_header:after {
      position: absolute;
      left: 50%;
      width: 100px;
      height: 30px;
      margin: 0 0 0 -50px;
      bottom: -25px;
      content: "";
      background: image-url('desc_arrow.png') no-repeat;
    }

    .dc_content {
      display: none;
    }
  }

  #description_and_comments, .desc-off, .comment-off {
    h4 {
      background: #333;
      padding: 7px 20px 6px;
      color: #fff;
      font-size: 13px;
      text-transform: uppercase;
    }

    .tx-desc {
      padding: 20px;
    }
  }

  .right-detalhe-comment-off {
    float: right;
    width: 300px;
  }

  .comment-off {
    background: #f6f6f6;
    margin-bottom: 10px;

    textarea {
      border: 0;
      background: #FFF;
      height: 73px;
      margin-bottom: 10px;
      font-size: 11px;
      color: #666;
      padding: 11px 5px 10px;
      width: 220px;
    }

    .bt-comentar {
      text-indent: -15000px;
      width: 103px;
      height:28px;
      float: right;
      border: none;
      background: image-url('bt-comentar.png') no-repeat;
    }
  }

  #ct-comment-off {
    background: #f6f6f6;
    padding: 20px 20px 10px;

    .list-comment-off {
      background: #FFF;
      overflow: hidden;
      margin-bottom: 10px;

      img {
        float: left;
        margin-right: 10px;
      }

      p {
        font-size: 12px;
        color: #666;
        padding-top: 6px;
      }

      span {
        font-size: 12px;
        color: #999;
        line-height: 22px;

        a {
          font-size: 12px;
          text-decoration: underline;
          color: #666;
        }
      }
    }
  }

  .share-off {
    clear: both;
    margin-top: 10px;

    span {
      display: block;
      color: #565656;
      padding-left: 16px;
      margin-bottom: 5px;
      font-size: 10px;

      a {
        color: #1e1e1e;
        text-decoration: none;
        font-size:11px;
      }
    }
  }
}