/* Tipograph
------------------------------------------------*/

@font-face {
  font-family: 'GothamLight';
  src: url('/fonts/gotham-light.eot');
  src: url('/fonts/gotham-light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/gotham-light.woff') format('woff'),
       url('/fonts/gotham-light.ttf') format('truetype'),
       url('/fonts/gotham-light.svg#GothamLightRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}