@font-face {
  font-family: "Colaborate-Thin";
  font-style: normal;
  font-weight: normal;
  src: local('ColabThi'), url("/fonts/ColabThi.eot") format("eot"); /* IE9 Compat Modes */
  /* IE6-IE8 */
  /* Modern Browsers */
  /* Safari, Android, iOS */
  /* Legacy iOS */
  src: local('ColabThi'), url("/fonts/ColabThi.eot?#iefix") format("embedded-opentype"),
       local('ColabThi'), url("/fonts/ColabThi.woff") format("woff"),
       local('ColabThi'), url("/fonts/ColabThi.ttf") format("truetype"),
       local('ColabThi'), url("/fonts/ColabThi.svg#svgColaborate-Thin") format("svg");
}

@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Gotham-Book.eot');
  src: url('/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),url('/fonts/Gotham-Book.woff') format('woff'),url('/fonts/Gotham-Book.ttf') format('truetype'),url('/fonts/Gotham-Book.svg#ITCOfficinaSerifBold') format('svg');
}

@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/Gotham-Bold.eot');
  src: url('/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),url('/fonts/Gotham-Bold.woff') format('woff'),url('/fonts/Gotham-Bold.ttf') format('truetype'),url('/fonts/Gotham-Bold.svg#ITCOfficinaSerifBold') format('svg');
}

@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Gotham-Medium.eot');
  src: url('/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),url('/fonts/Gotham-Medium.woff') format('woff'),url('/fonts/Gotham-Medium.ttf') format('truetype'),url('/fonts/Gotham-Medium.svg#ITCOfficinaSerifBold') format('svg');
}