#footer { background:#f6f5f4 url(bg-ft.jpg) repeat-x; width:100%; padding:30px 0; }
#ft-center { width:1020px; margin:0 auto; overflow:hidden; }
#ft-center .left { width:210px; min-height:295px; margin-right:40px; border-right:1px solid #e2e1e0; }
#ft-center .left ul li { line-height:28px; }
#ft-center .left ul li a { color: #333; font-size:14px; text-transform:uppercase; text-decoration:none; }

#ft-center h3 { color: #333; font-weight:normal; padding-top:15px; text-transform:uppercase; font-style:italic; font-size:20px; margin-bottom:10px; }

#ft-center .first-left { min-height:200px; float: left; width:315px; border-right: 1px solid #b4b4b4; padding-right:40px; margin-right:40px; }
#ft-center .first-left p { font-family:"Trebuchet MS"; color: #333; }
#ft-center .cat-left, #ft-center .cat-last { border:none; }
#ft-center .crie-perfil { color: #333; text-transform:uppercase; margin-right:10px; font-size:14px; }


#ft-copy { background:transparent; padding:15px 0 12px; overflow:hidden; }
#ft-copy #ct-copy { width:1020px; margin:0 auto; }
#ft-copy ul li { float: left; border-right: 1px solid #999; line-height:11px; padding-top:1px; padding-right:10px; margin-right:10px; }
#ft-copy ul li a { font-size:11px; color: #666; text-decoration:none; text-transform:uppercase; }
#ft-copy ul li.last { border:none; }
#ft-copy .klepper { float:right; color: #838383; text-decoration:none; font-size:10px; text-transform:uppercase; font-style:italic; }
