body {
  #sem-col {
    form {
      padding: 10px;

      .big_column {
        width: 94%;
      }

      .small_column {
        width: 43%;
      }

      .left {
        float: left;
      }

      .right {
        float: right;
        margin-right: 26px;
      }

      input[type='text'], select {
        background: #FFF;
        width: 100%;
        margin: 4px 0 10px;
        border: 1px solid #dcdcdc;
        padding:10px;
        border-radius: 5px;
      }

      select {
        width: 110%;
      }

      .bt-confirmar {
        width: 136px;
        height: 35px;
        margin: 0 auto;
        border: none;
        background: image-url('bt-confirmar.png') no-repeat;
        display: block;
      }
    }

    form#new_deal {
      .field_with_errors {
        label.message.erroForm {
          display: none;
        }
      }
    }
  }
}