#header {
  height:100px;
  background: #2d2d2d;
  position: fixed;
  width: 100%;
  z-index: 150;

  .content {
    width:1040px;
    margin:0 auto;
    position: relative;

    #search_form_div {
      position: fixed;
      top: 98px;
      right: 193px;
      display: none;
      width: 289px;
      z-index: 151;
      background: white;
      padding: 5px;

      .border-input-busca {
        border: 3px solid #F6F6F6;
        overflow: hidden;

        .input-tx {
          text-transform: uppercase;
          background: #F6F6F6;
          font-size: 11px;
          color: #666;
          border: none;
          float: left;
          padding: 11px 5px 10px;
          width: 240px;
        }

        .submit {
          width: 33px;
          height: 33px;
          float: right;
          border: none;
          background: url(bts-input.gif) no-repeat;
        }
      }
    }

    #search_form_div::before {
      content: "";
      position: absolute;
      top: -13px;
      left: 50%;
      width: 100px;
      height: 13px;
      margin: 0 0 0 -50px;
      background: white;
    }

    #search_form_div::after {
      content: "";
      position: absolute;
      top: -20px;
      left: 0;
      width: 59%;
      height: 20px;
      background: #2d2d2d;
      -webkit-border-bottom-right-radius: 15px;
      -moz-border-radius-bottomright: 15px;
      border-bottom-right-radius: 15px;
    }

    #search_form_div_after {
      content: "";
      position: absolute;
      top: -20px;
      right: 0;
      width: 41%;
      height: 20px;
      background: #2d2d2d;
      -webkit-border-bottom-left-radius: 15px;
      -moz-border-radius-bottomleft: 15px;
      border-bottom-left-radius: 15px;
    }
    

    .logo {
      width:378px;
      float: left;
      padding-top: 10px;

      a {
        width:378px;
        height:100px;
        display: block;
        background: url(logo.png) no-repeat;
        text-indent: -15000px;
      }
    }

    #menu-login {
      float: left;
      margin-top: 15px;
      margin-left: 10px;

      li {
        float: left;
        padding:0 16px 0 0;
        display: block;
        margin-top: 50px;

        span {
          color: #fff;
          font-size:11px;
          font-style:italic;
          text-transform:uppercase;
        }

        a {
          color: #999;
          font-size:11px;
          text-decoration:none;
          text-transform:uppercase;

          span {
            color: #999;
            font-size:11px;
            text-decoration:none;
            text-transform:uppercase;
            font-style: normal;
          }
        }

        a.facebook_login_button {
          text-indent:-15000px;
          overflow:hidden;
          display: block;
          width: 128px;
          height: 42px;
          background: image-url('login-facebook.png') no-repeat;
          position: absolute;
          top: 30px;
        }

        a.facebook_login_button:hover {
          background: image-url('login-facebook-hover.png') no-repeat -6px -6px;
          margin: 0;
        }

        a.deals_header_btn {
          background: image-url('tag.png') no-repeat 9px 0;
          padding-top: 40px;
        }

        a.deals_header_btn:hover {
          background: image-url('tag_hover.png') no-repeat 3px 2px;
        }

        a.users_header_btn {
          background: image-url('user.png') no-repeat 13px 0;
          padding-top: 40px;
        }

        a.users_header_btn:hover {
          background: image-url('user_hover.png') no-repeat;
        }

        a.search_header_btn {
          background: image-url('search.png') no-repeat 9px 0;
          padding-top: 40px;
        }
      }
    }

    #menu-top {
      float: left;
      margin-top: 18px;
      width: 351px;
      margin-left: -35px;

      ul {
        padding-left: 0;
        height: 15px;

        li {
          float:left;

          a {
            display:block;
            padding:0 12px 0 0;
            color: #999;
            font-size:11px;
            text-decoration:none;
            text-transform:uppercase;
          }
        }
      }
    }

    #icon-redes {
      position:absolute;
      top:67px;
      right:0;

      a {
        float: left;
        width:35px;
        height:35px;
        margin-right:4px;
        background: url(icon-redes.png) no-repeat;
      }

      .bt-twitter {
        background-position:0 0;
      }

      .bt-face {
        background-position:-39px 0;
      }

      .bt-google {
        background-position:-78px 0;
        margin-right:0;
      }
    }

    .bt-compartilhe-off { 
      position:absolute;
      background: url(bt-compartilhe-off.png) no-repeat;
      bottom:0;
      right:0;
      width:193px;
      height:26px;
    }
  }

  #box-compartilhe {
    display: block;
    padding-top: 10px;
    background: transparent;
    width: 340px;

    .border-input-busca {
      border:3px solid #f6f6f6;
      overflow:hidden;
      margin-bottom:20px;
      float:right;
    }

    .input-tx {
      background: #f6f6f6;
      font-family: 'Colaborate-Thin';
      text-transform:uppercase;
      font-size:11px;
      color: #666;
      border:none;
      float: left;
      padding:11px 5px 10px;
      width: 291px;
    }

    .submit {
      width:33px;
      height:33px;
      text-transform:uppercase;
      font-weight: normal;
      float:right;
      color: #e1e1e1;
      border:none;
      background:#2D2D2D;
    }
  }
}

.clear_header_fix {
  margin-top: 100px;
}