a#natal_bar{
  background: image-url('natal/barravermelha.png');
  width: 100%;
  height: 28px;
  display: block;
  position: fixed;
  top: 0;
  z-index: 1000;
  cursor: pointer;
  font-size: 12pt;
  font-family: 'Georgia', 'Gotham', 'Arial';
  color: white;
  text-align: center;
  line-height: 28px;
  text-transform: uppercase;
}

#header {
  height: 75px;
  background: #2d2d2d;
  position: fixed;
  width: 100%;
  z-index: 150;
  top: 0;

  .border {
    float: left;
    height: 75px;
    width: 1px;
    background: #595959;
    padding: 0 !important;
    margin-top: 0 !important;
  }

  .content {
    width: 1035px;
    margin:0 auto;
    position: relative;

    .gorro_natal {
      background: image-url('natal/gorro.png') no-repeat;
      position: absolute;
      width: 60px;
      height: 80px;
      display: block;
      z-index: 300;
      top: 0px;
      left: -23px;
      cursor: pointer;
    }

    #search_form_div {
      width: 95px;
      padding: 15px 0;
      float: left;
      margin: 0 8px;

      .border-input-busca {

        .input-tx {
          text-transform: uppercase;
          background: image-url('search_icon.png') no-repeat 5px 11px #F6F6F6;
          font-size: 12px;
          color: #666;
          border: none;
          float: left;
          padding: 10px 5px 10px 22px;
          width: 68px;
          border-radius: 19px;
          height: 20px;
        }

        .submit {
          width: 33px;
          height: 33px;
          float: right;
          border: none;
          background: url(bts-input.gif) no-repeat;
        }
      }
    }

    .logo {
      width: 290px;
      float: left;
      padding-top: 10px;
      margin: 0 10px;

      a {
        width: 290px;
        height: 65px;
        display: block;
        background: url(logo.png) no-repeat;
        text-indent: -15000px;
      }
    }

    .menu-login {
      float: left;
      position: relative;
      width: 125px;
      font-family: 'Gotham Book' !important;

      li {
        float: left;
        padding:0 6px;
        display: block;
        margin-top: 50px;

        span {
          color: #fff;
          font-size:11px;
          font-style:italic;
          text-transform:uppercase;
        }

        a {
          color: #999;
          font-size:11px;
          text-decoration:none;
          text-transform:uppercase;

          span {
            color: #999;
            font-size: 9px;
            text-decoration:none;
            text-transform:uppercase;
            font-style: normal;
          }
        }

        a.login_link {
          position: absolute;
          bottom: -10px;
          right: 42px;
          font-size: 10px;
        }

        a.facebook_login_button {
          text-indent:-15000px;
          overflow:hidden;
          display: block;
          width: 100px;
          height: 42px;
          background: image-url('login-facebook.png') no-repeat -5px 0;
          margin: 0 7px;
        }

        a.facebook_login_button:hover {
          background: image-url('login-facebook-hover.png') no-repeat -5px 0;
        }

        a.deals_header_btn {
          background: image-url('tag.png') no-repeat 5px 0;
          padding-top: 40px;
        }

        a.deals_header_btn:hover {
          background: image-url('tag_hover.png') no-repeat 2px -3px;
        }

        a.users_header_btn {
          background: image-url('user.png') no-repeat 9px 0;
          padding-top: 40px;
        }

        a.users_header_btn:hover {
          background: image-url('user_hover.png') no-repeat 9px 0;
        }

        a.search_header_btn {
          background: image-url('search.png') no-repeat 6px 0;
          padding-top: 40px;
        }

        a.search_header_btn:hover {
          background: image-url('search_hover.png') no-repeat 3px -6px;
        }

        a.user_menu {
          img {
            border-radius: 10px;
          }
        }

        a.settings_menu {
          background: image-url('settings.png') no-repeat;
          width: 34px;
          height: 36px;
          display: block;
          text-indent: -15000px;
          margin-top: 10px;
        }
      }

      li.no_margin_top {
        margin-top: 10px;
      }

      li.settings {
        border-left: 1px solid #595959;
        padding-left: 10px;
        height: 50px;
      }

      li.settings:hover, li.user_options:hover {
        #user_menu_options, #settings_menu_options {
          display: block;
        }
      }

      li.user_options, li.settings {
        position: relative;

        #user_menu_options, #settings_menu_options {
          width: 120px;
          min-height: 90px;
          top: 65px;
          display: none;
          border: 3px solid #ccc;
          border-radius: 3px;
          position: absolute;
          z-index: 1;
          background: white;
        }

        #user_menu_options:after, #settings_menu_options:after {
          content: "";
          position: absolute;
          top: -15px;
          left: 58px;
          border-width: 0px 11px 15px;
          border-style: solid;
          border-color: white transparent;
          display: block;
          width: 0;
        }

        #user_menu_options:before, #settings_menu_options:before {
          content: "";
          position: absolute;
          top: -20px;
          left: 55px;
          border-width: 0px 14px 18px;
          border-style: solid;
          border-color: #ccc transparent;
          display: block;
          width: 0;
        }
      }

      li.user_options {
        #user_menu_options {
          padding: 0;
          width: 150px;
          right: 0px;

          h5 {
            font-family: 'Gotham Book';
            font-size: 14pt;
            color: #333;
            margin: 8px 10px 0;
          }

          .deals_count {
            font-family: 'Gotham Book';
            font-size: 10px;
            color: #1e1e1e;
            width: 63px;
            padding: 5px;
            margin: 5px 0 5px 5px;
            text-align: center;
            border-right: 2px dotted #ccc;
            float: left;

            a {
              @include button(#fcfcfc);
              @include linear-gradient(#fcfcfc, #afafaf);
              font-size: 8px;
              padding: 4px 6px;
              font-family: 'Gotham Book';
              text-transform: none;
            }
          }

          .powers {
            padding: 15px 7px;
            float: left;
            width: 55px;
            text-align: center;

            .icon {
              background: image-url('small_powers_icon.png') no-repeat -2px -1px;
              float: left;
              width: 21px;
              height: 21px;
              margin-right: 5px;
            }

            .text {
              font-family: 'Lobster';
              color: #669999;
              font-size: 21px;
              float: left;
              line-height: 20px;
            }
          }

          a.notifications, a.followers, a.following, a.credit {
            margin-bottom: 0;
          }

          a.notifications {
            clear: both;
            text-align: center;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 15px 5px;
            display: block;
            font-family: 'Gotham Book';
            font-size: 12px;

            span.count {
              @include linear-gradient(#fff166, #ffd63b);
              padding: 6px 4px;
              color: #666;
              font-weight: bold;
              font-family: 'Gotham Book';
              @include box-shadow(1px 1px 3px 1px hsla(0, 0%, 0%, 0.5));
              border-radius: 25px;
              margin-right: 3px;
            }

            span {
              color: #1e1e1e;
              font-family: 'Gotham Book';
            }
          }

          a.following, a.followers {
            padding-top: 40px;
            padding-bottom: 10px;
            font-family: 'Gotham Book';
            font-size: 12px;
            color: #1e1e1e;
            text-align: center;

            span.count {
              font-weight: bold;
              font-size: 15px;
            }
          }

          a.following {
            border-right: 1px solid #ccc;
            background: image-url('following_icon.png') no-repeat 14px 8px;
          }

          a.followers {
            background: image-url('followers_icon.png') no-repeat 14px 8px;
          }

          a.credit {
            border-top: 1px solid #ccc;
            clear: both;
            display: block;
            font-family: 'Lobster';
            padding: 5px 27px;
            height: 21px;
            display: block;

            .icon {
              background: image-url('small_credit_icon.png') no-repeat;
              width: 21px;
              height: 21px;
              float: left;
              margin-right: 3px;
            }

            .text {
              float: left;
              line-height: 21px;
              font-size: 20px;
              color: #669900;
            }
          }
        }

        #user_menu_options:after {
          left: 111px;
        }

        #user_menu_options:before {
          left: 108px;
        }
      }

      li.settings {
        #settings_menu_options:after {
          left: 106px;
        }

        #settings_menu_options:before {
          left: 103px;
        }

        #settings_menu_options {
          right: 0;
          padding: 0;
          width: 140px;

          ul {
            list-style: none;
            color: #5d5d5d;

            li {
              clear: both;
              width: 120px;
              margin: 0;
              padding: 10px;
              border-bottom: 1px solid rgba(93,93,93,.2);
              text-transform: uppercase;
              font-size: 12px;

              a {
                color: #5d5d5d;
                font-size: 12px;
              }

              span {
                float: right;
                font-weight: bold;
                font-size: 12px;
              }
            }

            li.last {
              border-bottom: none;

              a {
                background: image-url('logout_icon.png') no-repeat 1px;
                height: 16px;
                display: block;
                line-height: 20px;
                padding-left: 20px;
                margin: 0 auto;
                width: 30px;
              }
            }
          }
        }
      }
    }

    #menu-top {
      float: left;
      width: 325px;

      ul {
        padding-left: 0;
        height: 15px;
        display: none;

        li {
          float:left;

          a {
            display:block;
            padding:0 .8em 0 0;
            color: #999;
            font-size: 1.1em;
            text-decoration:none;
            text-transform:uppercase;
          }

          a:hover {
            color: #FFF;
            font-size: 1.1em;
            padding: 0 .8em 0 0;
          }
        }
      }
    }

    a.how_it_works {
      background: image-url('saibamais.png') no-repeat -5px 0;
      text-indent: -15000px;
      width: 60px;
      height: 85px;
      float: left;
    }
  }

  #box-compartilhe {
    display: block;
    padding-top: 10px;
    background: transparent;
    width: 293px;
    margin: 0 5px;
    float: left;
    height: 65px;

    .border-input-busca {
      border: 9px solid #444;
      overflow: hidden;
      float: right;
      border-radius: 4px;
      height: 37px;
      background: #f6f6f6;
    }

    .input-tx {
      background: #f6f6f6;
      font-family: 'Gotham Book';
      text-transform: uppercase;
      font-size: 8pt;
      color: #666;
      border: none;
      float: left;
      padding: 11px 5px 11px;
      width: 170px;
      line-height: 15px;
    }

    .submit {
      width: 95px;
      height: 38px;
      float: right;
      color: #e1e1e1;
      border: none;
      background: image-url('new_deal_btn.png') no-repeat -9px -5px;
      text-indent: -15000px;
      padding: 0;
    }
  }
}

#filters {
  @include box-shadow(0 0 5px 3px hsla(0, 0%, 0%, 0.65));
  height: 30px;
  width: 100%;
  background: image-url('filters_bg.png') repeat-x;
  position: fixed;
  top: 75px;
  z-index: 149;

  .content {
    width:1035px;
    margin:0 auto;
    position: relative;
    padding-top: 7px;
  }

  ul.filters_options {
    li {
      float: left;
      border-right: 1px solid #888;
      padding: 0 8px;
      position: relative;
      margin-top: 1px;

      a {
        font-family: 'Gotham Book';
        font-size: 9pt;
        color: #333;
        text-transform: uppercase;
        text-decoration: none;
      }
    }

    li.categories {
      width: 103px;
    }

    li.categories:hover {
      ul#other_categories {
        display: block;
      }
    }

    li.discount {
      width: 92px;
    }

    li.discount:hover {
      ul#options_discount {
        display: block;
      }
    }

    li.price {
      width: 60px;
      margin-left: 25px;
    }

    li.price:hover {
      ul#options_price {
        display: block;
      }
    }

    li.partners {
      width: 42px;
    }

    li.partners:hover {
      ul#options_partners {
        display: block;
      }
    }

    ul#other_categories, ul#options_price, ul#options_discount, ul#options_partners {
      display: none;
      width: 200px;
      background: white;
      border-top: 3px black solid;

      li {
        padding: 5px 7px;
        clear: both;
        width: 182px;
        border-bottom: 1px solid #ccc !important;
        border-right: none;
      }
    }

    ul#options_price, ul#options_discount {
      li {
        width: 187px;
      }
    }

    ul#options_discount {
      width: 110px;

      li {
        width: 97px;
      }
    }

    ul#other_categories {
      height: 168px;
    }

    ul#options_price {
      height: 168px;
    }

    ul#options_partners {
      position: absolute;
      right: 0px;
      height: auto;
      width: 176px;

      li {
        float: left;
        border: none !important;
        clear: none;
        width: auto;
      }
    }

    ul#options_discount {
      height: 102px;

      li {
        a {
          .img {
            width: 23px;
            float: left;
            height: 22px;
            display: block;
            margin-right: 2px;
          }

          span {
            line-height: 22px;
          }
        }
      }

      li.little {
        a {
          .img {
            background: image-url('small_discount_tags.png') 0 0 no-repeat;
          }
        }
      }

      li.medium {
        a {
          .img {
            background: image-url('small_discount_tags.png') -24px 0 no-repeat;
          }
        }
      }

      li.higher {
        a {
          .img {
            background: image-url('small_discount_tags.png') -48px 0 no-repeat;
          }
        }
      }
    }

    ul#other_categories {
      li {
        border-left: 5px solid;
      }

      li.food {
        border-color: #639;

        a {
          color: #639;
        }
      }

      li.car {
        border-color: #390;

        a {
          color: #390;
        }
      }

      li.beauty {
        border-color: #c6c;

        a {
          color: #c6c;
        }
      }

      li.car {
        border-color: #390;

        a {
          color: #390;
        }
      }

      li.entertainment {
        border-color: #0cc;

        a {
          color: #0cc;
        }
      }

      li.travel {
        border-color: #f63;

        a {
          color: #f63;
        }
      }

      li.other {
        border-color: #333;

        a {
          color: #333;
        }
      }
    }

    li:last-child, li.no_border {
      border-right: none;
    }

    li:first-child {
      padding-left: 0;
    }
  }
}

.clear_header_fix {
  margin-top: 105px;
}