body {

  #home_header {
    height: 450px;
    padding: 10px 0;
    background: image-url('bg2.png');

    .content {
      position: relative;
      width: 960px;
      margin: 0 auto;

      a.facebook_login_button {
        text-indent:-15000px;
        overflow:hidden;
        display: block;
        width: 256px;
        height: 38px;
        background: image-url('home_login_fb.png') no-repeat;
      }

      .facebook_login_button {
        background: image-url('home_login_fb.png') no-repeat;
        width: 260px;
        height: 40px;
        margin: 10px auto;
      }

      .register {
        width: 150px;
        margin: 0 auto;
        color: black;
        font-weight: bold;
        font-size: 10pt;
        text-align: center;

        a {
          font-size: 12pt;
          font-weight: bold;
        }
      }
    }
  }
}