body {
  #home_list {
    padding: 0 30px;
    margin-bottom: 10px;

    h3 {
      height: 25px;
    }
  }

  .best_deals {
    padding: 0 30px 0 15px !important;
  }

  #sem-col {

    .top_user {
      float: left;
      width: 321px;
      margin-left: 15px;
      padding-right: 15px;

      .left{
        float: left;
        margin-left: 10px;
        
        h3 {
          width: 215px;
          padding-bottom: 2px;

          a {
            font-size: 24px;
          }
        }

        span {
          font-size: 16px;
          width: 215px;
          display: block;
        }
      }
    }

    .top_deal, .small_deal {
      padding: 10px;
      float: left;
      margin-left: 25px;
      position: relative;

      .price_and_discount {
        position: absolute;
        top: 0;
        left: 1px;
        background-color: rgba(240,240,240,.6);
        padding: 10px;
        display: none;

        .price {
          float: left;
          color: #5d5d5d;

          span.from {
            text-decoration: line-through;
          }
        }
      }
    }

    .small_deal {
      width: 196px;
      background: image-url('bg_small_deal.png') no-repeat -42px -39px;
      height: 203px;

      .price_and_discount {
        width: 90%;
        height: 30px;

        .price {

          span.by {
            font-size: 16px;
          }
        }

        .discount {
          background: image-url('small_offer_discount.png') no-repeat;
          width: 28px;
          height: 24px;
          position: absolute;
          top: 4px;
          right: 5px;
          padding: 9px 8px;
          font-family: 'Lobster';
          font-size: 18px;
          color: #95A450;
          text-align: center;
        }
      }

      .image {
        height: 160px;
        margin: 0 auto;

        img {
          max-height: 160px;
          max-width: 155px;
          display: block;
          margin: 0 auto;
        }
      }

      h4 {

        a {
          font-family: 'Colaborate-Thin';
          font-size: 15px;
          text-decoration: none;
          color: #444;
        }
      }

      .details {
        width: 196px;

        .user_infos {
          float: left;
          width: 120px;
          margin-top: 6px;

          a {
            text-decoration: none;
            color: #444;
            font-family: 'Colaborate-Thin';
          }
        }

        .interactions {
          float: right;
          width: 71px;
          margin-top: 5px;

          .love_icon, .report_icon {
            width: 10px;
            height: 16px;
            display: block;
            float: left;
            padding-left: 25px;
          }

          .love_icon {
            background: image-url('love_count_icon.png') no-repeat;
          }

          .report_icon {
            background: image-url('report_count_icon.png') no-repeat;
            height: 18px;
            padding-left: 16px;
            margin-left: 10px;
          }
        }
      }
    }

    .top_deal {
      width: 284px;
      margin-bottom: 33px;
      background: image-url('bg_big_deal.png') -30px -27px no-repeat;
      height: 293px;

      .price_and_discount {
        width: 93%;
        height: 22px;

        .price {
          font-size: 18pt;

          span {
            margin-left: 5px;
          }
        }
      }

      .image {
        height: 200px;
        margin: 0 auto;

        img {
          max-height: 200px;
          max-width: 245px;
          display: block;
          margin: 0 auto;
        }
      }

      .details {
        width: 212px;
        margin-top: 10px;
        float: left;

        h4 {
          height: 35px;

          a {
            font-family: 'Colaborate-Thin';
            font-size: 15px;
            text-decoration: none;
            color: #444;
          }
        }

        .user_picture {
          float: left;
          margin-right: 5px;
          min-width: 50px;
          min-height: 50px;

          img {
            min-width: 50px;
            max-height: 50px;
          }
        }

        .user_infos {
          a {
            text-decoration: none;
            color: #444;
            font-family: 'Colaborate-Thin';
          }
        }
      }

      .discount {
        float: right;
        background: image-url('big_offer_discount.png') no-repeat -16px -21px;
        font-family: 'Lobster';
        font-size: 25px;
        color: #95A450;
        width: 37px;
        height: 36px;
        padding: 17px 15px;
        text-align: center;
      }

      .interactions {
        float: right;
        width: 71px;
        margin-top: 5px;

        .love_icon, .report_icon {
          width: 10px;
          height: 16px;
          display: block;
          float: left;
          padding-left: 25px;
        }

        .love_icon {
          background: image-url('love_count_icon.png') no-repeat;
        }

        .report_icon {
          background: image-url('report_count_icon.png') no-repeat;
          height: 18px;
          padding-left: 16px;
          margin-left: 10px;
        }
      }
    }

    .small_deal:hover, .top_deal:hover {
      .price_and_discount {
        display: block;
      }
    }

    .first {
      margin-left: 0;
    }

    #partners {
      background: #474747;
      padding: 0 20px;
      position: relative;

      a {
        height: 45px;
        margin: 5px;

        img{
          height: 45px;
          margin: 5px;
        }
      }

      #partners_list {
        height: 55px !important;
      }

      .caroufredsel_wrapper {
        width: 1000px !important;
        height: 55px !important;
      }

      #partners_list_prev, #partners_list_next {
        display: block;
        position: absolute;
        top: 11px;
        height: 25px;
        text-indent: -999999px;
        width: 20px
      }

      #partners_list_prev {
        background: url(partners/previous_logo.png) no-repeat;
        left: 5px;
        display: block !important;
      }

      #partners_list_next {
        background: url(partners/next_logo.png) no-repeat;
        right: 5px;
        display: block !important;
      } 
    }
  }

  .action_btn {
    margin-top: 10px;

    a.btn_follow_user, a.btn_view_profile {
      text-indent: -15000px;
      width: 116px;
      height: 29px;
      margin: 0 auto;
      display: block;
    }

    a.btn_follow_user {
      background: url(follow_btn.png) no-repeat 0 0;
    }

    a.btn_view_profile {
      background: url(btn_view_profile.png) no-repeat -32px -85px;
      width: 133px;
    }
  }

  #search_users {
    width: 290px;
    margin: 0 auto 30px;

    .border-input-busca {
      border: 3px solid #F6F6F6;
      overflow: hidden;
      margin-bottom: 20px;

      .input-tx {
        text-transform: uppercase;
        background: #F6F6F6;
        font-size: 11px;
        color: #666;
        border: none;
        float: left;
        padding: 11px 5px 10px;
        width: 240px;
      }

      .submit {
        width: 33px;
        height: 33px;
        float: right;
        border: none;
        background: url(bts-input.gif) no-repeat;
      }
    }
  }
}