body {
  #home_list {
    padding-bottom: 0;
    margin-bottom: 10px;
  }

  #home_actions {
    margin-top: 0px;

    #box-compartilhe {
      float: left;
      display: block;
      border-right: 1px  dashed #E0E0E0;
      padding-top: 0;
      margin-top: 10px;
      padding-right: 20px;

      .border-input-busca {
        margin-bottom: 0;
      }
    }

    #box-search {
      width: 470px;
      float: left;
      display: block;
      padding-top: 0;
      margin-top: 10px;
      margin-left: 20px;

      .border-input-busca {
        text-transform: uppercase;
        font-size: 11px;
        color: #666;
        border: none;
        float: left;
        padding: 0;
        width: 238px;

        .input-tx {
          text-transform: uppercase;
          background: #F6F6F6;
          font-size: 11px;
          color: #666;
          border: none;
          float: left;
          padding: 11px 5px 10px;
          width: 195px;
        }

        .submit {
          width: 33px;
          height: 35px;
          float: right;
          border: none;
          background: url(bts-input.gif) no-repeat 0px 2px;
          padding: 1px;
          background-color: #f6f6f6;
        }
      }

      .select {
        margin: 0;
        width: 110px;
        float: left;
        margin: 5px 3px;
        
        select {
          padding: 3px 5px;
          font-size: 11px;
          color: #666;
          height: 28px;
          width: 110px
        }
      }
    }
  }

  #sem-col {
    #ofertus_top {
      margin-top: 30px;

      h2 {
        margin: 0 365px; 
        padding: 0 10px;
      }
    }

    #ofertus_users {
      h2 {
        width: 302px;
        margin: 0 359px; 
        padding: 0 10px;
      }
    }

    .top_user {
      float: left;
      width: 300px;
      border-right: 1px dashed #E0E0E0;
      margin-left: 33px;
      padding-right: 33px;

      .left{
        float: left;
        margin-left: 10px;
        
        h3 {
          width: 225px;
          padding-bottom: 10px;
        }
      }
    }

    .top_deal {
      width: 300px;
      border-right: 1px dashed #E0E0E0;
      padding-right: 33px;
      float: left;
      margin-left: 33px;
      margin-bottom: 33px;

      .right {
        width: 150px;
      }

      .left {
        width: 108px;

        h4 {
          text-align: center;
          font-size: 8pt;
          margin-bottom: 7px;
          text-transform: uppercase;
          font-weight: normal;

          span {
            color: #FF6162;
            display: block;
            font-size: 14px;
            text-decoration: line-through;
          }
        }

        .preco-off {
          width: 108px;
          padding: 38px 0;
          text-align: center;
          background: url(bg-preco-off-sidebar.png) no-repeat;

          span {
            color: #B2EA71;
            font-size: 17px;
            text-decoration: none;
          }
        }
      }
    }

    .first {
      margin-left: 0;
    }

    .last {
      padding-right: 0;
      border-right: none;
    }
  }

  .action_btn {
    margin-top: 10px;

    a.btn_follow_user {
      text-indent: -9999999999px;
      background: url(follow_btn.png) no-repeat 0 0;
      width: 116px;
      height: 29px;
      margin: 0 auto;
      display: block;
    }
  }
}