body {
  #home_header {
    background: #F4F4F2;
    width: 157%;
    height: 450px;
    margin: 0 -300px;
    padding: 10px 0;

    .content {
      position: relative;
      width: 1024px;
      margin: 0 auto;

      .pagination {
        background: transparent;
        margin: 0 auto;
        width:100px;
        padding: 0;
        
        li {
          float:left;
          margin:0 1px;
          list-style:none;
          width: auto;
          height: 10px;

          a {
            background: transparent;
            display:block;
            width:12px;
            height:0;
            padding: 12px 0 0;
            background: url(pagination.png) no-repeat 0 0;
            float:left;
            overflow:hidden;
            text-indent: -9999999px;
            margin: 0;
          }
        }

        li.current {
          float:left;
          margin:0 1px;
          list-style:none;
          width: auto;
          height: 10px;
          background: transparent;
          padding-top: 0;
          
          a {
            background-position:0 -12px;
          }
        }
      }

      #slides {
        width: 68%;
        position:absolute;
        top: 7px;
        left: 4px;
        z-index:100;

        .next, .prev {
          position:absolute;
          top:107px;
          left:-39px;
          width:24px;
          height:43px;
          display:block;
          z-index:101;
        }

        .next {
          left:585px;
        }

        .slides_container {
          height: 435px;
          overflow:hidden;
          position:relative;
          display:none;

          div {
            height: 435px;
            display: block;
          }
        }
      }

      #login_home {
        width: 28%;
      }

      .facebook_login_button {
        background: url(home_login_fb.png);
        width: 260px;
        height: 40px;
        margin: 10px auto;
      }

      .register {
        width: 143px;
        margin: 0 auto;
        color: black;
        font-weight: bold;
        font-size: 10pt ;

        a {
          font-size: 12pt;
          font-weight: bold;
        }
      }
    }
  }

  #header_background {
    margin-top: 0;
    height:32px; 
    position: relative; 
    background: url(bg-header.png) no-repeat 564px -90px black;
    width: 157%;
    margin-left: -300px;

    div {
      width: 1020px;
      height: 32px;
      position: relative;
      margin: 0 auto;

      .bt-compartilhe-off { 
        position:absolute; 
        background: url(bt-compartilhe-off.png) no-repeat; 
        bottom:0; 
        right: 0; 
        width:193px; 
        height:26px; 
      }
    }
  }
}