body {

  #home_header {
    height: 450px;
    padding: 10px 0;
    background: image-url('bg2.png');

    img {
      max-width: 700px;
    }


    .content {
      position: relative;
      width: 960px;
      margin: 0 auto;

      a.facebook_login_button {
        text-indent:-15000px;
        overflow:hidden;
        display: block;
        width: 256px;
        height: 38px;
        background: image-url('home_login_fb.png') no-repeat;
      }

      .pagination {
        background: transparent;
        margin: 0 auto;
        width:100px;
        padding: 0;

        li {
          float:left;
          margin:0 1px;
          list-style:none;
          width: auto;
          height: 10px;

          a {
            background: transparent;
            display:block;
            width:12px;
            height:0;
            padding: 12px 0 0;
            background: url(pagination.png) no-repeat 0 0;
            float:left;
            overflow:hidden;
            text-indent: -9999999px;
            margin: 0;
          }
        }

        li.current {
          float:left;
          margin:0 1px;
          list-style:none;
          width: auto;
          height: 10px;
          background: transparent;
          padding-top: 0;

          a {
            background-position:0 -12px;
          }
        }
      }

      #slides {
        width: 70%;
        position:absolute;
        top: 7px;
        left: 4px;
        z-index:100;

        .next, .prev {
          position:absolute;
          top:107px;
          left:-39px;
          width:24px;
          height:43px;
          display:block;
          z-index:101;
        }

        .next {
          left:585px;
        }

        .slides_container {
          height: 435px;
          overflow:hidden;
          position:relative;
          display:none;

          div {
            height: 435px;
            display: block;
          }
        }
      }

      #login_home {
        width: 30%;
        text-align: center;
      }

      .facebook_login_button {
        background: image-url('home_login_fb.png') no-repeat;
        width: 260px;
        height: 40px;
        margin: 10px auto;
      }

      .register {
        width: 150px;
        margin: 0 auto;
        color: black;
        font-weight: bold;
        font-size: 10pt;
        text-align: center;

        a {
          font-size: 12pt;
          font-weight: bold;
        }
      }
    }
  }
}