body {
  #home_list {
    padding: 0 30px;
    margin-bottom: 10px;

    h3 {
      height: 25px;
    }
  }

  .best_deals {
    padding: 0 30px 0 15px !important;
  }

  #sem-col {

    .top_user {
      float: left;
      width: 321px;
      margin-left: 15px;
      padding-right: 15px;

      .left{
        float: left;
        margin-left: 10px;
        
        h3 {
          width: 215px;
          padding-bottom: 2px;

          a {
            font-size: 24px;
          }
        }

        span {
          font-size: 16px;
          width: 215px;
          display: block;
        }
      }
    }

    .top_deal, .small_deal {
      cursor: pointer;
      padding: 10px;
      float: left;
      margin-left: 25px;
      position: relative;

      a.like, a.dislike {
        text-indent: -15000px;
        position: absolute;
        right: 10px;
        display: none;
        width: 26px;
        height: 29px;
      }

      a.go_to_site_button {
        background: image-url('buy.png') no-repeat;
        width: 119px;
        height: 30px;
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        text-indent: -15000px;
      }

      a.partner {
        position: absolute;
        bottom: 0;
        right: 130px;
        width: 30px;
        height: 30px;
        text-indent: -15000px;
        display: none;
      }

      a.fb {
        right: 10px;
        display: none;
        text-indent: -15000px;
        position: absolute;
        width: 26px;
        height: 30px;
      }

      a.like {
        background: image-url('small_icons.png') no-repeat;
      }

      a.dislike {
        background: image-url('like_button_pressed.png') no-repeat -26px 0px;
      }

      a.fb {
        background: image-url('small_icons.png') no-repeat -32px 0;
      }

      .price_and_discount {
        position: absolute;
        top: 0;
        left: 1px;
        background-color: rgba(240,240,240,.6);
        padding: 10px;
        display: none;

        .price {
          float: left;
          color: #5d5d5d;

          span.from {
            text-decoration: line-through;
          }
        }
      }
    }

    .small_deal {
      width: 196px;
      background: image-url('bg_small_deal.png') no-repeat -42px -39px;
      height: 232px;
      position: relative;

      .user_picture {
        float: left;
        margin-right: 3px;
        min-width: 28px;
        min-height: 28px;

        img {
          min-width: 28px;
          max-height: 28px;
        }
      }

      a.like, a.dislike {
        bottom: 125px; 
      }

      a.fb {
        bottom: 95px;
      }

      .category {
        position: absolute;
        top: 0;
        width: 214px;
        height: .4em;
        background: black;
        left: 1px;
        text-decoration: none;

        p {
          text-align: center;
          display: none;
          color: white;
          text-transform: uppercase;
          font-weight: bold;
          width: 214px;
          height: 20px;
          font-family: 'Colaborate-Thin';
          font-size: 11pt;
          line-height: 20px;
        }
      }

      .price_and_discount {
        width: 90%;
        height: 30px;
        top: 20px;
        padding: 5px 10px;
        height: 40px;

        .price {

          p.from {
            font-size: 8pt;
            color: #333;

            strong {
              font-size: 12pt;
              text-decoration: line-through;
            }
          }

          p.by {
            clear: right;
            color: #c33;
            font-size: 14pt;

            strong {
              font-size: 18pt;
            }
          }
        }

        .discount {
          background: image-url('green_discount_small.png') no-repeat 0px -2px;
          width: 28px;
          height: 24px;
          position: absolute;
          top: 4px;
          right: 5px;
          padding: 9px 8px;
          font-family: 'Lobster';
          font-size: 18px;
          color: white;
          text-align: center;
        }
      }

      .image {
        height: 160px;
        margin: 0 auto;

        img {
          max-height: 160px;
          max-width: 155px;
          display: block;
          margin: 0 auto;
        }
      }

      h4 {

        a {
          font-family: 'Colaborate-Thin';
          font-size: 15px;
          text-decoration: none;
          color: #444;
        }
      }

      .details {
        width: 196px;

        .user_infos {
          float: left;
          width: 90px;
          margin-top: 6px;

          a {
            text-decoration: none;
            color: #444;
            font-family: 'Colaborate-Thin';
          }

          p.end_date {
            background: image-url('calendar.png') no-repeat;
            padding-left: 1.5em;
            line-height: 1.5em;
            font-size: 11pt;
          }
        }

        .counts {
          float: right;
          width: 71px;
          margin-top: 5px;

          .likes, .reports {
            width: 10px;
            height: 16px;
            display: block;
            float: left;
            padding-left: 25px;
          }

          .likes {
            background: image-url('love_count_icon.png') no-repeat;
          }

          .reports {
            background: image-url('report_count_icon.png') no-repeat;
            height: 18px;
            padding-left: 16px;
            margin-left: 10px;
          }
        }
      }
    }

    .top_deal {
      width: 284px;
      margin-bottom: 10px;
      background: image-url('bg_big_deal.png') -30px -27px no-repeat;
      height: 330px;
      position: relative;

      a.like, a.dislike {
        bottom: 175px; 
      }

      a.fb {
        bottom: 145px;
      }

      .category {
        position: absolute;
        top: 2em;
        left: 1px;
        width: .7em;
        height: 4.5em;
        background: black;

        p {
          text-align: center;
          display: none;
          @include transform(rotate(-90deg));
          color: white;
          text-transform: uppercase;
          font-weight: bold;
          width: 130px;
          height: 2.5em;
          position: absolute;
          left: -64px;
          top: 4em;
          font-family: 'Colaborate-Thin';
          font-size: 11pt;
          padding-left: 30px;
          line-height: 31px;
        }
      }

      .price_and_discount {
        width: 93%;
        height: 44px;
        text-align: center;

        .price {
          font-size: 16pt;
          width: 100%;
          text-align: center;
          line-height: 1.1em;

          p.from, p.by {
            float: right;
          }

          p.from {
            font-size: 10pt;
            color: #333;

            strong {
              font-size: 14pt;
              text-decoration: line-through;
            }
          }

          p.by {
            clear: right;
            color: #c33;
            font-size: 16pt;

            strong {
              font-size: 20pt;
            }
          }
        }
      }

      .image {
        height: 200px;
        margin: 0 auto;

        img {
          max-height: 200px;
          max-width: 245px;
          display: block;
          margin: 0 auto;
        }
      }

      .details {
        width: 212px;
        margin-top: 10px;
        float: left;

        h4 {
          height: 35px;

          a {
            font-family: 'Colaborate-Thin';
            font-size: 15px;
            text-decoration: none;
            color: #444;
          }
        }

        .user_picture {
          float: left;
          margin-right: 5px;
          min-width: 50px;
          min-height: 50px;

          img {
            min-width: 50px;
            max-height: 50px;
          }
        }

        .user_infos {
          float: left;
          font-family: 'Colaborate-Thin';
          padding: .3em .5em;
          font-size: 11pt;

          p.end_date {
            background: image-url('calendar.png') no-repeat;
            padding-left: 1.5em;
            line-height: 1.5em;
            margin-top: .3em;
            font-size: 12pt;
          }
        }
      }

      .discount {
        float: right;
        background: image-url('green_discount.png') no-repeat -2px -3px;
        font-family: 'Lobster';
        font-size: 25px;
        color: white;
        width: 37px;
        height: 36px;
        padding: 17px 15px;
        text-align: center;
      }

      .counts {
        float: right;
        width: 71px;
        margin-top: 5px;

        .likes, .reports {
          width: 10px;
          height: 16px;
          display: block;
          float: left;
          padding-left: 25px;
        }

        .likes {
          background: image-url('love_count_icon.png') no-repeat;
        }

        .reports {
          background: image-url('report_count_icon.png') no-repeat;
          height: 18px;
          padding-left: 16px;
          margin-left: 10px;
        }
      }
    }

    .small_deal, .top_deal {
      partner {
        background: transparent;
      }

      .partner_americanas {
        background: image-url('partners/americanas_mini.png');
      }

      .partner_amomuito, .partner_amo-muito {
        background: image-url('partners/amomuito_mini.png');
      }

      .partner_anahickmann, .partner_ana-hickmann {
        background: image-url('partners/anahickmann_mini.png');
      }

      .partner_brinquedoslaura, .partner_brinquedos-laura {
        background: image-url('partners/brinquedoslaura_mini.png');
      }

      .partner_bytennis, .partner_by-tennis {
        background: image-url('partners/bytennis_mini.png');
      }

      .partner_carrefour {
        background: image-url('partners/carrefour_mini.png');
      }

      .partner_casasbahia, .partner_casas-bahia {
        background: image-url('partners/casasbahia_mini.png');
      }

      .partner_comprafacil, .partner_compra-facil {
        background: image-url('partners/comprafacil_mini.png');
      }

      .partner_dafiti {
        background: image-url('partners/dafiti_mini.png');
      }

      .partner_extra {
        background: image-url('partners/extra_mini.png');
      }

      .partner_fnac {
        background: image-url('partners/fnac_mini.png');
      }

      .partner_gimba {
        background: image-url('partners/gimba_mini.png');
      }

      .partner_girafa {
        background: image-url('partners/girafa_mini.png');
      }

      .partner_giulianaflores, .partner_giuliana-flores {
        background: image-url('partners/giulianaflores_mini.png');
      }

      .partner_kanui {
        background: image-url('partners/kanui_mini.png');
      }

      .partner_lojasmm, .partner_mm, .partner_lojas-mm, .partner_lojas-m-m {
        background: image-url('partners/lojasmm_mini.png');
      }

      .partner_marisa {
        background: image-url('partners/marisa_mini.png');
      }

      .partner_mobly {
        background: image-url('partners/mobly_mini.png');
      }

      .partner_polishop {
        background: image-url('partners/polishop_mini.png');
      }

      .partner_ponto-frio, .partner_pontofrio {
        background: image-url('partners/pontofrio_mini.png');
      }

      .partner_saraiva {
        background: image-url('partners/saraiva_mini.png');
      }

      .partner-submarino {
        background: image-url('partners/submarino_mini.png');
      }

      .partner_toymania, .partner_toy-mania {
        background: image-url('partners/toymania_mini.png');
      }

      .partner_viajarbarato, .partner_viajar-barato {
        background: image-url('partners/viajarbarato_mini.png');
      }

      .partner_walmart {
        background: image-url('partners/walmart_mini.png');
      }

      .category_1 {
        background: #639;
      }

      .category_2 {
        background: #c6c
      }

      .category_3 {
        background: #399;
      }

      .category_4 {
        background: #633;
      }

      .category_5 {
        background: #36c;
      }

      .category_6 {
        background: #c66;
      }

      .category_7 {
        background: #f63;
      }

      .category_8 {
        background: #390;
      }

      .category_9 {
        background: #333;
      }

      .category_10 {
        background: #f93;
      }

      .category_11 {
        background: #0cc;
      }
    }

    .small_deal:hover, .top_deal:hover {
      .price_and_discount {
        display: block;
      }

      a.go_to_site_button {
        display: block;
      }

      a.like, a.dislike {
        display: block;
      }

      a.fb {
        display: block;
      }

      a.partner {
        display: block;
      }

      .category {
        position: absolute;
        z-index: 1;

        p {
          display: block;
        }
      }
    }

    .top_deal:hover {
      .category {
        top: 2em;
        left: 1px;
        width: 2.5em;
        height: 12em;
      }
    }

    .small_deal:hover {
      .category {
        height: 20px;
      }
    }

    .first {
      margin-left: 0;
    }

    #partners {
      background: #474747;
      padding: 0 20px;
      position: relative;

      a {
        height: 45px;
        margin: 5px;

        img{
          height: 45px;
          margin: 5px;
        }
      }

      #partners_list {
        height: 55px !important;
      }

      .caroufredsel_wrapper {
        width: 1000px !important;
        height: 55px !important;
      }

      #partners_list_prev, #partners_list_next {
        display: block;
        position: absolute;
        top: 11px;
        height: 25px;
        text-indent: -999999px;
        width: 20px
      }

      #partners_list_prev {
        background: url(partners/previous_logo.png) no-repeat;
        left: 5px;
        display: block !important;
      }

      #partners_list_next {
        background: url(partners/next_logo.png) no-repeat;
        right: 5px;
        display: block !important;
      } 
    }
  }

  .action_btn {
    margin-top: 10px;

    a.btn_follow_user, a.btn_view_profile {
      text-indent: -15000px;
      width: 116px;
      height: 29px;
      margin: 0 auto;
      display: block;
    }

    a.btn_follow_user {
      background: url(follow_btn.png) no-repeat 0 0;
    }

    a.btn_view_profile {
      background: url(btn_view_profile.png) no-repeat -32px -85px;
      width: 133px;
    }
  }

  #search_users {
    width: 290px;
    margin: 0 auto 30px;

    .border-input-busca {
      border: 3px solid #F6F6F6;
      overflow: hidden;
      margin-bottom: 20px;

      .input-tx {
        text-transform: uppercase;
        background: #F6F6F6;
        font-size: 11px;
        color: #666;
        border: none;
        float: left;
        padding: 11px 5px 10px;
        width: 240px;
      }

      .submit {
        width: 33px;
        height: 33px;
        float: right;
        border: none;
        background: url(bts-input.gif) no-repeat;
      }
    }
  }
}