body {
  #all {
    .content {

      .how_it_works {
        clear: both;

        .img {
          float: left;
          width: 10%;
          height: 105px;
          display: block;
        }

        .circle_1 {
          background: image-url('how_it_works_circles.png') 0 0;
        }

        .circle_2 {
          background: image-url('how_it_works_circles.png') -105px -5px;
        }

        .text {
          float: left;
          width: 80%;
          margin-left: 1em;
          margin-bottom: 1em;

          .ttGlHome {
            width: 100%;
            margin-bottom: 0;

            h2 {
              font-size: 16pt;
            }
          }

          p {
            margin-bottom: 12px;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }
}