body {
  #how_it_works_tab {
    width: 100%;
    position: fixed;
    top: 75px;
    z-index: 149;

    a#open_hiw_btn {
      text-indent: -15000px;
      background: image-url('understand_btn.png') no-repeat 0 -1px;
      width: 97px;
      height: 26px;
      display: block;
      margin: 0 auto;
    }

    .content {
      display: none;
      position: relative;
      width: 677px;
      height: 344px;
      margin: 0 auto;
      background: image-url('bg5.png') no-repeat 0 0;
      padding: .5em 1em 0;

      h1 {
        text-align: center;
        font-size: 22pt;
        color: white;
        font-family: 'Lobster';
      }


      a.deals_btn, a.how_btn {
        width: 128px;
        display: block;
        text-indent: -15000px;
        height: 38px;
        margin: 1.5em auto;
      }

      a.deals_btn {
        background: image-url('deals_hiw_btn.png') no-repeat 0 0;
      }

      a.how_btn {
        margin-top: 0;
        background: image-url('hiw_more_btn.png') no-repeat 0 0;
      }

      .text {
        clear: both;
        color: white;
        font-size: 12pt;
        padding: 1em;
        font-weight: bold;
      }

      .center {
        float: left;
        margin: 3em 4em;
      }

      .center, .side {
        height: 60%;
      }

      .side {
        width: 40%;
        float: left;

        .img {
          float: left;
          width: 100px;
          height: 100px;
        }

        .deals_img {
          background: image-url('how_it_works_circles.png') no-repeat 0 0;
        }

        .money_img {
          background: image-url('how_it_works_circles.png') no-repeat -105px -5px;
        }

        h1 {
          float: left;
          font-size: 19pt;
          width: 115px;
          text-align: left;
          margin: 1em .5em;
        }
      }

      a#close_hiw_btn {
        position: absolute;
        bottom: 0;
        left: 45%;
        text-indent: -15000px;
        background: image-url('close_btn.png') no-repeat 0 0;
        width: 85px;
        height: 25px;
        display: block;
      }
    }
  }

  #all {
    .content {

      .how_it_works {
        clear: both;
        width: 90%;
        margin: 1em auto;

        .img {
          float: left;
          width: 11%;
          height: 105px;
          display: block;
        }

        .circle_1 {
          background: image-url('how_it_works_circles.png') 0 0;
        }

        .circle_2 {
          background: image-url('how_it_works_circles.png') -105px -5px;
        }

        .text {
          float: left;
          width: 80%;
          margin-left: 1em;
          margin-bottom: 1em;

          .ttGlHome {
            width: 100%;
            margin-bottom: 0;

            h2 {
              font-size: 16pt;
            }
          }

          p {
            margin-bottom: 12px;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }

      .how_box {
        background: white;
        width: 97%;
        border: 3px solid #ddd;
        border-radius: 7px;
        position: relative;
        clear: both;
        margin: 1em auto;

        .menu {
          height: 60px;
          width: 95%;
          margin: 0 auto;
          position: relative;

          a {
            float: left;
            background: image-url('how_it_works_tabs.png');
            height: 55px;
            position: absolute;
            top: -6px;
            text-indent: -15000px;
          }

          a.how_deals {
            width: 145px;
            background-position: 0px -6px;
            left: 0;
          }

          a.how_users {
            width: 152px;
            background-position: -145px -6px;
            left: 155px;
          }

          a.how_money {
            width: 147px;
            background-position: -296px -6px;
            left: 322px;
          }

          a.how_wishes {
            width: 130px;
            background-position: -442px -6px;
            left: 482px;
          }

          a.how_reports {
            width: 162px;
            background-position: -572px -6px;
            left: 627px;
          }

          a.how_powers {
            width: 139px;
            background-position: -736px -6px;
            left: 805px;
          }
        }

        #how_users, #how_money, #how_wishes, #how_reports, #how_powers {
          display: none;
        }

        #how_powers {
          p.promote, p.invite_friends, p.wishes {
            font-family: 'Lobster';
            font-size: 15pt;
            padding-left: 3em;
            line-height: 2em;
            margin: .5em 0;
          }

          p.or {
            margin: .5em 0;
            padding-left: 5em;
          }

          p.promote {
            background: image-url('deals_icon.png') no-repeat -10px 0;
          }

          p.invite_friends {
            background: image-url('users_icon.png') no-repeat -2px 0;
          }

          p.wishes {
            background: image-url('like_button.png') no-repeat 3px 0;
          }
        }

        #how_deals, #how_users, #how_money, #how_wishes, #how_reports, #how_powers {
          width: 95%;
          margin: .5em auto 2em;

          p {
            margin: 1em 0;
            font-size: 12pt;
            color: black;
          }

          img {
            margin: 1em 0;
          }

          .ttGlHome {
            margin-bottom: .5em;

            h2 {
              background: transparent;
            }
          }
        }
      }
    }
  }
}