/* Login */
.page-login { background:#f6f6f6; padding:30px; }
.page-login h3 { text-align:center; font-size:22px; color: #000; margin-bottom:22px; }
.page-login .ct-inputs-login { overflow: hidden; border-bottom: 1px dashed #999; margin-bottom:30px; padding-bottom:30px; }
.page-login p { color: #666; font-size:13px; float: left; margin-right:20px; }
.page-login .user-senha { background:#FFF; width:297px; margin:4px 0 10px; border: 1px solid #dcdcdc; padding:13px; }
.page-login .checkbox-login { float: left; color: #8f8f8f; padding-top:10px; margin-right:0; font-size:11px; line-height:15px; }
.page-login .checkbox-login input { float: left; margin-right:5px; }
.page-login .bt-entrar { width:126px; height:35px; float:right; border:none; background: url(bt-entrar.png) no-repeat; }
.page-login p.last { margin-right:0; }

.page-login .left { width:449px; float:left; margin-bottom:15px; }
.page-login .left p { margin-right:0; }
.page-login .left p span { display: block; color: #666; margin-top:-9px; font-size:11px; text-align:right; }
.page-login a { display: block; color: #4a4a4a; font-size:12px; line-height:20px; }
.page-login .bt-confirmar { width:136px; height:35px; float:right; border:none; background: url(bt-confirmar.png) no-repeat; }

.page-login .ct-edit .user-senha { width:420px; }
.page-login .right { width:150px; padding-top:20px; }
.page-login .right a { color: #333333; display: block; font-size: 14px; text-align: center; text-decoration: underline; }