body {
  #sem-col {
    .new_deal_left, .new_deal_right, .edit_user, .deals_history, .sales_history {
      font-family: 'Colaborate-Thin', 'Helvetica Neue';
      background: image-url('bg-html.jpg');
      width: 48%;
      font-size: 14px;
      margin-bottom: 3em;
      height: 53em;

      .title {
        font-family: 'Colaborate-Thin', 'Helvetica Neue';
        background: #2d2d2d;
        width: 98%;
        height: 17px;
        text-transform: uppercase;
        color: white;
        padding: 5px;
      }
    }

    .new_deal_left {
      float: left;
      display: inline-block;
      height: auto;
      
      .description {
        padding: 15px;
      }

      .step1, .step2, .step3, .step4, .step5 {
        width: 90%;
        height: 50px;
        margin: 1em auto;
        clear: both;

        .img {
          float: left;
          width: 47px;
          height: 47px;
          display: block;
        }

        img, span {
          float: left;
        }

        span {
          height: 50px;
          line-height: 50px;
          font-size: 14pt;
        }
      }

      .step1, .step3, .step5 {
        float: left;
      }

      .step2, .step4 {
        float: right;
      }
        
      .step1 {
        .img {
          background: image-url('numbers.png') no-repeat 0 0;
        }

        span {
          margin-right: 1em;
        }
      }

      .step2 {
        width: 85%;

        img {
          margin-top: -20px;
        }

        .img {
          background: image-url('numbers.png') no-repeat -48px 0;
          margin-left: 1em;
        }
      }

      .step3 {
        width: 100%;

        .img {
          background: image-url('numbers.png') no-repeat -96px 0;
        }

        span {
          margin-right: 1em;
        }
      }

      .step4 {
        width: 93%;

        img {
          margin-top: .8em;
        }

        .img {
          background: image-url('numbers.png') no-repeat -144px 0;
          margin-left: 1em;
        }
      }

      .step5 {
        img {
          margin-top: .7em;
        }
          
        .img {
          background: image-url('numbers.png') no-repeat -192px 0;
        }

        span {
          margin-right: 1em;
        }
      }

      #box-compartilhe_2 {
        display: block;
        background: transparent;
        width: 360px;
        margin: 0 auto;

        .border-input-busca {
          overflow:hidden;
          margin-bottom:20px;
          float:right;
        }

        .input-tx {
          background: #f6f6f6;
          font-family: 'Colaborate-Thin';
          text-transform:uppercase;
          font-size:11px;
          color: #666;
          border:none;
          float: left;
          padding:11px 5px 10px;
          width: 291px;
          border-radius: 0;
          margin: 0;
        }

        .submit {
          width:33px;
          height:33px;
          text-transform:uppercase;
          font-weight: normal;
          float:right;
          color: #e1e1e1;
          border:none;
          background:#2D2D2D;
        }
      }

      .partners_list {
        padding: 10px;

        h4 {
          font-size: 14px;
          display: inline-block;
          float: left;
          color: #5D5D5D;
        }

        a {
          font-size: 14px;
          display: inline-block;
          float: right;
          color: #5D5D5D;
          text-decoration: none;
          margin-right: 65px;
        }

        ul {
          margin-bottom: 10px;
          margin-top: 20px;
          clear: both;
          list-style: none;
          display: inline-block;

          li {
            float: left;
            margin-right: 5px;

            a {
              margin-right: 0;
              margin: 3px;
              text-align: center;
              height: 50px;

              .percent {
                display: none;
                text-align: center;
                height: 28px;
                width: 26px;
                border-radius: 10px;
                background: #CCC;
                color: #9C9C6C;
                font-size: 15pt;
                font-family: 'Lobster';
                padding: 11px;
              }
            }

            a:hover {
              img {
                display: none;
              }

              .percent {
                display: block;
              }
            }
          }
        }
      }
    }

    .new_deal_right {
      float: right;

      form#new_deal {
        label {
          font-size: 12pt;
        }

        #deal_company {
          display: none;
        }

        input {
          margin-bottom: 1em;
        }
      }
    }
  }
}