body {
  #popup {
    display: none;
    width: 700px;
    min-height: 300px;
    position: absolute;
    left: 25%;
    top: 15%;
    color: white;
    overflow: hidden;
    opacity: 1;
    z-index: 5001;
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;      
    border-bottom-right-radius: 10px;

    .powers {
      display: block;
      background: image-url('poderes.jpg') no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 760px;
    }

    .natal {
      display: block;
      background: image-url('natal/promocao.jpg') no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 850px;
    }

    .banks_list {
      background: image-url('bg2.png');
      display: inline-block;
      width: 100%;
      @include border-radius(5px);
      max-height: 500px;
      overflow-y: scroll;

      table#banks_table {
        width: 100%;
        color: black;
        @include border-radius(5px);
        max-height: 500px;
      }
    }
  }
}