body {
  #sem-col {

    #signup_form {
      margin: 20px auto;
      float: none;
      display: none;

      p {
        width: 95%;
        margin: 0 auto;

        input[type='text'], input[type='password'] {
          background: white;
          width: 97%;
          margin: 4px 0;
          border: 1px solid gainsboro;
          padding: 5px;
          border-radius: 2px;
        }

        input[type='checkbox'] {
          vertical-align: middle;
          margin-bottom: 1px;
        }
      }
    }

    .register {
      width: 276px;
      margin: 20px auto;
      display: block;
      height: 3em;

      span {
        color: #404040;
        float: left;
        line-height: 4em;
      }

      a {
        background: image-url('register_btn.png') no-repeat -19px -19px;
        width: 167px;
        height: 54px;
        color: white;
        text-decoration: none;
        font-size: 12pt;
        text-indent: -15000px;
        display: block;
        float: left;
      }
    }

    .signup_description {
      display: block;
      margin: 0 auto;
      width: 530px;
      height: 420px;
      background: white;
      @include border-radius(7px);
      border: 2px solid #c4c4c4;
      position: relative;
      padding-top: 8em;

      form {
        width: 405px;
        padding: 0;
        margin: 0 auto;
      }

      .ttGlHome {
        width: 255px;
        margin: 0 auto;
        height: 6em;
        background: image-url('title_background.png') 0 0 no-repeat;
        position: absolute;
        top: -.6em;
        left: 25%;

        h2 {
          padding: 0;
          font-size: 45px;
          color: white;
          background: transparent;
          width: 150px;
          margin: .8em 1.2em;
        }
      }

      div {
        color: #404040;
        font-family: 'Colaborate Thin';
        font-size: 13pt;
        margin: 20px auto;
        width: 280px;
      }

      .links {
        width: 405px;
        margin: 0 auto;
        text-align: center;

        a {
          font-size: 8pt;
          margin: 1em 0 2em;
        }

        a.password {
          float: left;
        }

        a.confirmation {
          float: right;
        }
      }

      .ct-inputs-login {
        margin: 0 auto;
        width: 405px;

        form {

          input[type='text'], input[type='password'] {
            background: white;
            width: 100%;
            margin: 4px 0;
            border: 1px solid gainsboro;
            padding: 5px 10px 5px 25px;
            border-radius: 0;
          }

          input[type='checkbox'] {
            vertical-align: middle;
            margin-bottom: 1px;
          }

          .bt-entrar {
            float: right;
            background: image-url('bt-entrar.png') no-repeat;
            width: 126px;
            height: 40px;
            display: block;
            border: none;
          }

          p {
            width: 100%;
            clear: both;
            float: left;
          }

          p.checkbox-login {
            width: 230px;
            clear: none;
            line-height: 2.3em;
          }

          input#user_login {
            background: image-url('input_username.png') white no-repeat 2px 3px;
            width: 90%;
          }

          input#user_password {
            background: image-url('input_password.png') white no-repeat 2px 3px;
            width: 90%;
          }
        }
      }

      a#email_register {
        color: #404040;
        width: 234px;
        display: block;
        margin: 40px auto 30px;
        font-size: 13pt;
        text-decoration: none;
      }

      a#email_register:hover {
        text-decoration: underline;
      }

      a.facebook_login_button {
        text-indent: -15000px;
        overflow: hidden;
        display: block;
        width: 256px;
        height: 37px;
        background: image-url('home_login_fb.png') no-repeat;
        margin: 30px auto;
      }

      .or_background {
        background: image-url('or_background.png') no-repeat;
        width: 412px;
        text-align: center;
        line-height: 1px;
        margin-top: 45px;
        margin-bottom: 45px;
      }

      .already_member {
        color: #404040;
        font-family: 'Colaborate Thin';
        width: 185px;
        margin-top: 3em;

        a {
          color: #404040;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}