.bigWindow .menu { float: left; min-width: 642px; }
.bigWindow .menu .up { background-position: -1950px 0; }
.bigWindow .menu .down { background-position: -2745px 0; }

div.doc p { display: block; font: 12px/18px Verdana, Sans-Serif; margin: 0 30px 15px; }

/*privacypolicy*/
.doc .privacypolicy {text-align: justify;}
.doc .privacypolicy p {font-size: 12px;}
.doc .privacypolicy strong {color: black; font-size: 12px; }
.doc .privacypolicy .title strong {color: black; font-size: 16px; }
.doc .privacypolicy .subtitle strong {color: black; font-size: 14px; }
.doc .privacypolicy .item p {padding:0 0 0 30px;}

.doc {
  /*termsofuse*/
  .termsOfUse { 
    text-align: justify;

    p {
      font-size: 12px;
    }

    strong {
      color: black;
      font-size: 12px;
    }

    .title {
      strong {
        color: black;
        font-size: 16px;
      }
    }

    .subtitle {
      strong {
        color: black;
        font-size: 14px;
      }
    }

    .item {
      p {
        padding: 0 0 0 30px;
      }
    }
  }
}