.alert#cta_americanas{ :style => "opacity: 1;" }
  %p
    %a{ :href => "http://el2.me/jERr", :target => "_blank", :style => "font-size: 15px;" }
      A americanas.com agora faz parte dos nossos parceiros. Clique aqui e ganhe dinheiro compartilhando ofertas desse gigante do ecommerce
