#header
  .content
    %h1.logo
      = link_to 'ofertus', root_path

    #menu-top
      = render "layouts/toolbar"

    #menu-login
      = render 'devise/menu/login_items'

    #icon-redes
      %a{ href: "https://twitter.com/#!/ofertusbr", class: "bt-twitter" }
      %a{ href: "https://www.facebook.com/OfertUs", class: "bt-face" }
      / %a{ href: "", class: "bt-google" }
    
    - unless @current_tab == 'home'
      %a{ href: "javascript:;", class: "bt-compartilhe-off", onclick: "$('#box-compartilhe').slideToggle();" }