#how_it_works_tab
  = link_to 'Entenda', 'javascript:;', id: 'open_hiw_btn', onclick: "$('#open_hiw_btn').hide(); $('#how_it_works_tab .content').slideDown();"
  .content
    = link_to 'Fechar', 'javascript:;', id: 'close_hiw_btn', onclick: "$('#how_it_works_tab .content').slideUp(); $('#open_hiw_btn').show();"